<?xml version='1.0' encoding='utf-8'?>
<widget id="com.munasar.tasbihpro" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Tasbih Pro</name>
    <description>A high-quality Tasbih application.</description>
    <author email="developer@example.com" href="http://example.com">Munasar</author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
